<app-loading #loading (retry)="getProducts()"></app-loading>

<div class="row flex-end" *ngIf="!loading.isVisible()">
  <div class="col-md-4">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar producto" [(ngModel)]="filtersTerm.key">
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="form-group">
      <select class="form-control" [(ngModel)]="sort">
        <option [ngValue]="term" *ngFor="let term of orderingTerms">{{ term.title }}</option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="border-primary border">
      <div class="card">
        <div class="card-header text-center">
          <strong>Filtros</strong>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingAvailable">
          <h6 class="mb-0">
            Disponibilidad
          </h6>
        </div>
        <div class="card-body">
          <div class="custom-control custom-radio">
            <input type="radio" id="availableTrue" name="available" class="custom-control-input"
              [(ngModel)]="filtersTerm.available" value="true">
            <label class="custom-control-label" for="availableTrue">Disponible</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="availableFalse" name="available" class="custom-control-input"
              [(ngModel)]="filtersTerm.available" value="false">
            <label class="custom-control-label" for="availableFalse">Agotado</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="availableAll" name="available" class="custom-control-input"
              [(ngModel)]="filtersTerm.available" value="">
            <label class="custom-control-label" for="availableAll">Todos</label>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingPrice">
          <h6 class="mb-0">
            Precio
          </h6>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="priceMin">Desde</label>
            <input type="text" class="form-control" id="priceMin" placeholder="$0.00" mask="0*.00"
              [(ngModel)]="filtersTerm.price.min">
          </div>
          <div class="form-group">
            <label for="priceMax">Hasta</label>
            <input type="text" class="form-control" id="priceMax" placeholder="$0.00" mask="0*.00"
              [(ngModel)]="filtersTerm.price.max">
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h6 class="mb-0">
            Cantidad
          </h6>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="quantity">Cantidad a comprar</label>
            <input type="text" class="form-control" mask="0*" id="quantity"
              placeholder="Ingrese la minima cantidad comprar" [(ngModel)]="filtersTerm.quantity">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="flex">
      <app-card-product
        *ngFor="let product of products | sortProducts: sort?.key : sort?.direction | filterProducts: filtersTerm"
        [product]="product" [keyToSearch]="filtersTerm.key"></app-card-product>
    </div>
    <div class="alert alert-primary" *ngIf="(products | filterProducts: filtersTerm).length === 0">
      No se encontraron productos
    </div>
  </div>
</div>
