<div class="row">
  <div class="col-md-8 offset-md-2">
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/img/slide1.svg" class="d-bloc w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/img/slide2.svg" class="d-lock w100" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3 class="text-center m-10">Productos top</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="flex">
      <app-card-product *ngFor="let product of bestProducts" [product]="product" [showButtonAdd]="false">
      </app-card-product>
    </div>
  </div>
</div>
